.head{
    background-color: green;
    color: white;
    padding:20px;
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}
.left{
    width:40rem;
}
.right{
    width: 50rem;
}
.card-body{
    width: 10rem;
}
.booklist {
    width: 90vw;
    max-width: 1170px;
    display: grid;
    gap: 2rem;
    margin: auto;
}
@media screen and (min-width:800px) {
    .booklist {
        grid-template-columns: repeat(4, 1fr);
    }

}