.col1
{
    height:100vh;
    overflow: hidden;
    width:25%;
    background-color: #33cc99;
    
}
.main1
{
    display: flex;
    height: 100%;
    background-color: lightcyan;
}
.col2
{
    margin-left:30px;
    background-color:aliceblue;
    height:100vh;
    width:75%;
}
.control
{
    display: flex;
    margin: 30px 10px;
    width:50%;
}
.editContent
{
    display: flex;
}
.savebtn
{
    display: inline-block;
    background-color: #33cc99;
    padding: 0em 2em;
    height: 40px;
    margin-top: 35px;
    font-size: 20px;
    border-radius: 2px;
    margin-left:25rem;
}
.descArea{
    height:85vh;
    width:70vw;
    background-color: white;
}
.image-upload>input{
    display: none;
    visibility: hidden;
    height:0;
    width:0;
}

.uploadfile
{
    /* display: none;
    visibility: none; */
    
    opacity: 0;
    /* margin-top: 100px; */
}  
.fileinput
{
    margin-left:30vw;
    margin-top: 10vh;
    cursor: pointer;
}
.txtarea
{
    margin-left: 2vh;
    
}
.area
{
    width:65vw;
    box-shadow: 0 2px 2px 2px gray;
    height:20vh;
}
