.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.owl-theme{
    margin-top: 20px;
    padding: 10px;
}
.owl-item.active{
    width: 200px !important;
    margin-left:6rem ;
    margin-right: 0px;
}
.owl-item{
    width: 200px !important;
    margin-left:6rem ;
    margin-right: 0px;
}
.booklist{
    width: 90vw;
    max-width: 1170px;
    display: grid;
    gap: 2rem;
    margin: auto;
}

.Link{
    text-decoration: none !important;
    color: black !important;
}