.thumbnail{
    height:00px;
}
.bg-primary{
    background-color: #33cc99 !important;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center;
}
.intro{
    display: flex;
    justify-content: center;
    padding: 10vh;
    margin-top: -5%;
}
.intro1{
    display: flex;
    justify-content: center;
   

}
.enroll
{
    
    font-size: 30px;
}
/* body{
    margin:auto;
} */
.thumbnail{
    margin-top: 5%;
}
.nav{
    display: flex;
    padding-left: 0;
    flex-direction: row;
    width: max-content;
    justify-content: space-around;
}

@media screen and (max-width: 800px){
    .intro{
        width: 100vw;
    }
    .introdiv{
        width: 80vw  !important;
    }
    .nav{
        width: 100vw;
    }
    .intro1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .list2{
        width: 50vw !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list1{
        width: 50vw !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .list{
       margin-top: 80px !important;
       width: 50vw !important;
       height: 20rem !important;
    }
    .vid{
        width: 40vw;
        height: 40vw;
    }
    img{
        width: 20vw;
        height: 20vw;
        margin-left: 11vw;
    }
}
.list{
    box-shadow: 0 0 20px #036949;
    background-color: aliceblue;
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    margin-top: -10rem;
    display: flex;
    margin-bottom: 20%;
    /* display: flex;
    flex-direction: row; */
   
}
.desc
{
    font-size: 20px;
    margin-left: 13%;
    margin-top: -4%;
}

.list1{
    margin-bottom: 5%;
     box-shadow: 0 0 20px #036949; 
    background-color: aliceblue;
    /* width: 30rem;
    height: 40rem; */
    width: 40rem;
    border-radius: 1%;
    margin-top: 0rem;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    
    margin-top:-5rem;

}
.list3{
    margin-left: 200px;
    background-color: aliceblue;
    /* width: 30rem;
    height: 40rem; */
    width: 20rem;
    border-radius: 5%;
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
table
{
    width:50rem;
}
.vid{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    /* box-shadow: 0 0 20px grey; */
    height: 50px;
}
